@model PagedList.IPagedList<RVAS_Kosarka.Models.Manager>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>All Managers</h2>


@if (!Model.Any())
{
    <p>We don't have any managers yet. </p>
}
else
{

    using (Html.BeginForm("Index", "Managers", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.Search as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table  table-dark table-striped table-bordered mt-5">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.Search })
                </th>

                <th>
                    @Html.ActionLink("Years", "Index", new { sortOrder = ViewBag.YearsSortParm, searchString = ViewBag.Search })
                </th>
                <th>
                    @Html.ActionLink("Club", "Index", new { sortOrder = ViewBag.ClubSortParm, searchString = ViewBag.Search })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>

                    <td>@item.Years</td>
                    <td>@item.Club.Name</td>

                    
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.Search }))
}

